<h1>THIS IS A SINGLE TRUCK HOW COOL</h1>

<h3><%= @truck.name %></h3>
Wheels: <%= @truck.wheels %><br>
Yo is this a drug front or what? <%= @truck.front %><br><br>

<%= button_to "Toggle Drugs!", toggle_path, method:"get" %>
